body {
  margin: 0;
  padding: 0;
  background: #e9ebee;
  font-family: sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4267b2;
  height: 40px;
  border-bottom: 1px solid #29487d;

  h1 {
    font-size: 24px;
    color: #fff;
  }
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 500px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #ffffff;
  margin-top: 30px;

  .header-post {
    display: flex;
    align-items: center;
  }

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .info-post {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  strong {
    font-size: 16px;
    color: #666666;
  }

  span {
    font-size: 14px;
    color: #999999;
    margin-top: 5px;
  }

  p {
    font-size: 16px;
    color: #6d6969;
    line-height: 24px;
    padding-top: 20px;
  }
}

.line-separator {
  border-bottom: 2px solid #dfe3ee;
  margin: 10px 0;
}

@media (max-width: 800px) {
  .post {
    width: 300px;
  }
}

@media (max-width: 550px) {
  .post {
    width: 200px;
  }
}

@media (max-width: 550px) {
  .post {
    width: 200px;
  }
}

@media (max-width: 400px) {
  .post {
    width: 100px;

    .header-post {
      flex-direction: column;
    }

    .avatar {
      width: 40px;
      height: 40px;
    }

    strong {
      margin-top: 10px;
      font-size: 13px;
    }

    span {
      font-size: 12px;
    }

    p {
      font-size: 12px;
    }
  }
}
